
@{
    ViewBag.Title = "Index";
}
<style>
    .cauhoi {
        font-size: 1.99em;
        color: #000000;
        line-height: 1.5em;
        margin-bottom: 1em;
    }
    .cautl {
        margin: 0;
        font-size: 23px;
        color: #000;
        line-height: 1.8em;
    }
</style>
<!-- banner -->
<div class="banner banner10">
    <div class="container">
        <h2 style=" color: #fff; font-size: 3em; text-align: center; padding: 1.5em 0 0;">Xin chào, Electronic Store có thể giúp gì cho bạn?</h2>
    </div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="breadcrumb_dress" style=" height: 50px;background: #c2c2c2;">
    <div class="container" style=" margin-top: 8px;">
        <ul>
            <li><a href='@Url.Action("Index", "Index")'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>Hỗ trợ</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- faq -->
<div class="faq"    style=" background: #eaf7ff;">
    <h2 style=" text-align: center; height: 100px; display: block; font-size: 46px; color: black;">Câu hỏi thường gặp</h2>
    <div class="container" style="width: 2000px; " >
        <div class="w3l_faq_grids">
            <div>
                <h3 class="cauhoi">1.Quy trình trả hàng hoàn tiền của Electronic Store ?</h3>
                <p class="cautl">
                    Hiện tại, Electronic Store chưa hỗ trợ đổi hàng/gửi bổ sung hàng bị thiếu trong đơn hàng. 
                    Trong trường hợp đơn hàng của bạn có vấn đề, bạn có thể gửi yêu cầu Trả hàng/Hoàn 
                    tiền ngay trên ứng dụng Electronic Store theo quy trình Trả hàng/Hoàn tiền.
                    <br />
                    ⚠️Lưu ý:<br />
                    <b>•</b> Người mua sẽ không thể gửi yêu cầu Trả hàng/Hoàn tiền sau khi bấm nút "Đã nhận được hàng" 
                    hoặc quá thời gian quy định.<br />
                    • Người mua cần thực hiện các bước Trả hàng/Hoàn tiền đúng hạn. Nếu không, yêu cầu Trả hàng/Hoàn
                    tiền của bạn sẽ bị hủy tự động/được xử lý theo quy định của Electronic Store.<br />
                    Electronic Store sẽ cập nhật tình trạng Trả hàng/Hoàn tiền thường xuyên. Tham khảo hướng dẫn chi tiết. <br />
                    • Electronic Store khuyến khích Người mua và Người bán liên hệ trao đổi với nhau về các phát sinh liên quan
                    đến đơn hàng để nhận được giải quyết nhanh chóng và hiệu quả nhất.<br />
                    • Electronic Store chưa hỗ trợ các yêu cầu Trả hàng/Hoàn tiền thuộc về cảm quan/không ưng ý/thay đổi quyết định mua hàng<br />
                    • Trong mọi trường hợp khiếu nại, quyết định của Electronic Store sẽ là quyết định cuối cùng.
                </p>
            </div>
             
            <div >
                <h3 class="cauhoi">2. [Cảnh báo lừa đảo] Mua sắm an toàn cùng Electronic Store</h3>
                <p class="cautl">
                    ⚠️Lưu ý:<br /> 
                    Tuyệt đối KHÔNG thực hiện những giao dịch sử dụng các hình thức thanh toán khác ngoài
                    các phương thức thanh toán hiện có trên Electronic Store (kể cả khi Người bán đề nghị). Electronic Store sẽ có biện 
                    pháp xử lý nếu phát hiện hành vi gian lận hoặc giao dịch ngoài làm ảnh hưởng đến quyền lợi Người dùng trên Electronic Store.
                </p>
            </div>
            <div >
                <h3 class="cauhoi">3. [Cảnh báo lừa đảo] Trao đổi với Người bán để trả giá trước khi đặt hàng</h3>
                <p class="cautl">
                    Bên cạnh việc thanh toán trực tiếp dựa trên giá niêm yết của sản phẩm, bạn có thể thực hiện trả giá 
                    với Người bán trước khi đặt hàng. Khi trả giá của bạn đã được Shop chấp nhận, thì sản phẩm với đơn giá
                    mới sẽ được thêm vào Giỏ hàng và bạn có thể tiến hành đặt mua sản phẩm theo đơn giá mới bằng cách thực hiện
                    theo những bước đặt hàng từ Giỏ hàng<br />
                    ⚠️ Lưu ý:<br />

                    Tính năng trả giá trước khi đặt hàng chỉ áp dụng cho các sản phẩm của những Gian hàng có kích hoạt tính năng 
                    Trả giá sản phẩm. Trong trường hợp Gian hàng không kích hoạt tính năng Trả giá sản phẩm, bạn chỉ có thể đặt hàng
                    theo đơn giá niêm yết của sản phẩm<br />

                    Ngoài ra, bạn cũng có thể liên hệ/nhắn tin với Người bán tại mục Electronic Store Chat theo hướng dẫn để <br />
                    • Được tư vấn thêm về thông tin sản phẩm trước khi đặt mua
                    • Cập nhật thông tin phát sinh (nếu có) liên quan đến đơn hàng đã đặt (số lượng, màu sắc, kích thước,,...) 
                    từ Người bán<br />
                    Trong trường hợp gặp khó khăn trong việc mua hàng/đặt hàng trên Electronic Store, bạn vui lòng tham khảo những nguyên nhân
                    và hướng giải quyết theo hướng dẫn nhé!
                </p>
            </div>
            <div >
                <h3 class="cauhoi">4. Làm sao để liên hệ Đơn vị vận chuyển/tra cứu thông tin vận chuyển/hối giao hàng?</h3>
                <p class="cautl">
                    ⚠️Lưu ý:<br />

                    • Hiện Electronic Store chưa hỗ trợ giao/lấy hàng theo giờ cụ thể hoặc sớm hơn thời gian giao hàng dự kiến được hiển thị 
                    trên hành trình đơn hàng<br />
                    • Electronic Store chưa hỗ trợ cung cấp số điện thoại của shipper/nhân viên giao hàng.<br />
                    • Trong trường hợp cần yêu cầu kiểm tra tình trạng đơn hàng cập nhật chưa đúng hoặc khiếu nại 
                    về các sự cố khi giao/nhận hàng, vui lòng liên hệ với Nhân viên hỗ trợ Electronic Store<br />
                    • Đối với đơn hàng Quốc tế, vui lòng kiểm tra hành trình đơn hàng đã đặt và thời gian giao hàng dự kiến <br />
                    • [Dành cho Người bán] Trong trường hợp cần thiết, Shop có thể:<br />
                    - Chủ động liên hệ trực tiếp với phía Đơn vị vận chuyển theo hướng dẫn<br />
                    - Chủ động mang hàng ra bưu cục gần nhất của Đơn vị vận chuyển<br />
                    - Nếu Shop bị tính tỷ lệ giao hàng trễ do Đơn vị vận chuyển chưa đến lấy hàng, Shop có thể liên hệ Electronic Store để được hỗ trợ
                </p>
            </div>
            <div >
                <h3 class="cauhoi">5. [Tài khoản Electronic Store] Tại sao tôi không nhận được Mã xác thực OTP?</h3>
                <p class="cautl">
                    ⚠️ Lưu ý:<br />
                    Nếu gặp vấn đề liên quan đến Mã xác thực OTP khi đăng nhập tài khoản Electronic Store bằng tin nhắn SMS,
                    bạn có thể thử sử dụng những phương pháp đăng nhập khác<br />
                    Nếu bạn chọn gửi mã xác thực bằng tin nhắn Zalo, bạn cần phải bật tính năng nhận thông báo của
                    app Zalo trên điện thoại để có thể nhận biết nhanh chóng khi mã OTP được gửi về. Trường hợp bạn
                    không bật thông báo, bạn vui lòng trực tiếp truy cập vào app Zalo để kiểm tra mã OTP sau khi đã thao tác<br />
                    Nếu vấn đề không thể giải quyết, vui lòng liên hệ Nhân viên CSKH Electronic Store để được hỗ trợ. Bạn nên chuẩn bị
                    sẵn những thông tin cần thiết sau:<br />
                    - Tên tài khoản Electronic Store và/hoặc số điện thoại liên kết tài khoản Electronic Store<br />
                    - Thời điểm xảy ra vấn đề<br />
                    - Phiên bản điện thoại và phiên bản hệ điều hành (phiên bản iOS hoặc Android)<br />
                    - Đơn vị cung cấp dịch vụ viễn thông (nếu cần)<br />
                    - Thao tác đang thực hiện khi xảy ra vấn đề (ví dụ: trong quá trình đặt lại mật khẩu,
                    trong quá trình cập nhật thông tin tài khoản ngân hàng liên kết…)<br />
                    - Hình ảnh hoặc video minh họa lỗi (nếu có).<br />
                </p>
            </div>
        </div>
    </div>
</div>
<!-- //faq -->
<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <div class="col-md-6 w3agile_newsletter_left">
            <h3>Newsletter</h3>
            <p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
        </div>
        <div class="col-md-6 w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" placeholder="Email" required="">
                <input type="submit" value="" />
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //newsletter -->
