
@{
    ViewBag.Title = "Index";
}
<!-- banner -->
<div class="banner banner10">
    <div class="container">
        <h2 style=" color: #fff; font-size: 3em; text-align: center; padding: 1.5em 0 0;">Một vài điều về chúng tôi</h2>
    </div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="breadcrumb_dress" style=" height: 50px;background: #c2c2c2;">
    <div class="container" style=" margin-top: 8px;">
        <ul>
            <li><a href='@Url.Action("Index", "Index")'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>About Us</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- about -->
<div class="about">
    <div class="container">
        <div class="w3ls_about_grids">
            <div class="col-md-6 w3ls_about_grid_left">
                <p style="color: black; font-size: 20px;">
                    Electronic Store với phương châm "Đồng hành cùng phong cách của bạn" 
                    sẽ là nơi mua sắm an toàn và uy tín, bởi chúng tôi luôn đề cao tiêu chí mang đến cho quý khách 
                    những sản phẩm chất lượng nhất với giá cả luôn phải chăng.
                </p>
                <div class="col-xs-2 w3ls_about_grid_left1">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                </div>
                <div class="col-xs-10 w3ls_about_grid_left2">
                    <p style="color: black; font-size: 20px;">
                        Chúng tôi tin tưởng vào sức mạnh khai triển của công nghệ và mong muốn góp phần làm cho thế giới
                        trở nên tốt đẹp hơn bằng việc kết nối cộng đồng người mua và người bán thông qua việc cung cấp 
                        một nền tảng thương mại điện tử.
                    </p>
                </div>
                <div class="clearfix"> </div>
                <div class="col-xs-2 w3ls_about_grid_left1">
                    <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                </div>
                <div class="col-xs-10 w3ls_about_grid_left2">
                    <p style="color: black; font-size: 20px;">
                        Đối với người dùng trên toàn khu vực, Electronic mang đến trải nghiệm mua sắm trực tuyến tích hợp với
                        vô số sản phẩm đa dạng chủng loại, cộng đồng người dùng năng động và chuỗi dịch vụ liền mạch.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 w3ls_about_grid_right">
                <img src="~/images/about Us.jpg" alt=" " class="img-responsive" style=" height: 615px; border-radius: 5px;" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- team -->
<div class="team">
    <div class="container">
        <h3>Meet Our Team</h3>
        <div class="wthree_team_grids">
            <div class="col-md-3 wthree_team_grid">
                <img src="~/images/t4.png" alt=" " class="img-responsive" />
                <h4>Smith Allen <span>Manager</span></h4>
                <div class="agileits_social_button">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="twitter"> </a></li>
                        <li><a href="#" class="google"> </a></li>
                        <li><a href="#" class="pinterest"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 wthree_team_grid">
                <img src="~/images/t5.png" alt=" " class="img-responsive" />
                <h4>Laura James <span>Designer</span></h4>
                <div class="agileits_social_button">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="twitter"> </a></li>
                        <li><a href="#" class="google"> </a></li>
                        <li><a href="#" class="pinterest"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 wthree_team_grid">
                <img src="~/images/t6.png" alt=" " class="img-responsive" />
                <h4>Crisp Doe <span>Director</span></h4>
                <div class="agileits_social_button">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="twitter"> </a></li>
                        <li><a href="#" class="google"> </a></li>
                        <li><a href="#" class="pinterest"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 wthree_team_grid">
                <img src="~/images/t7.png" alt=" " class="img-responsive" />
                <h4>Linda Rosy <span>Quality Checker</span></h4>
                <div class="agileits_social_button">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="twitter"> </a></li>
                        <li><a href="#" class="google"> </a></li>
                        <li><a href="#" class="pinterest"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
            <p>
                Với sự góp mặt to lớn của chúng tôi. Chúng tôi tin rằng Electronic Store 
                sẽ còn phát triển và to lớn hơn ra ngoài nước.
            </p>
        </div>
    </div>
</div>
<!-- //team -->
<!-- team-bottom -->
<div class="team-bottom">
    <div class="container">
        <h3>Bạn đã sẵn sàng cho việc mua sắm chưa? Giảm giá <span>20% Offer </span>cho điện thoại</h3>
        <p>
            Nhanh tay săn sale kẻo lỡ vụt mất.  
        </p>
        <a href="@Url.Action("Index", "Index")">Shop Now</a>
    </div>
</div>
<!-- //team-bottom -->
<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <div class="col-md-6 w3agile_newsletter_left">
            <h3>Newsletter</h3>
            <p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
        </div>
        <div class="col-md-6 w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" placeholder="Email" required="">
                <input type="submit" value="" />
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //newsletter -->
